langchain
python-dotenv
ipykernel
langchain-community
pypdf
pdfplumber
wikipedia
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
langchain_chroma
beautifulsoup4
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
bs4
duckduckgo-search
pymupdf
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
youtube-transcript-api
transformer
